Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [24]:
def is_symetrical(num):
    """ whether the number is symmetrical or not
    A number is symmetrical when it is the same as
    its reverse."""
    str_form=str(num)
    reverse_str=str_form[::-1]
    reverse_no=int(reverse_str)
    return num==reverse_no
is_symetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [14]:
def multiply_nums(string):
    """ return the product of the
numbers """
    l=string.split(",")
    outcome=1
    for i in l:
        outcome*=int(i)
    return outcome
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [40]:
def square_digits(num):
    l=[]
    m=[]
    Result=""
    string_form_of_num=str(num)#"9119"
    # here we converted integer input into string
    for i in string_form_of_num:
        l.append(int(i)**2)#l=[81,1,1,81]
    #we apply square operation in string form of input
    for j in l:
        m.append(str(j))# m=["81","1","1","81"]
    for k in m:
        Result+=k
    finalresult=int(Result)
    return finalre
square_digits(9119)

'nautiyal'

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [16]:
def setify(l):
    """ sorts a list and removes all duplicate items from it"""
    Set=set(l)
    return list(Set)
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [23]:
def mean(n):
    """returns the mean of all digits. """
    in_stringform=str(n)
    denominator=len(in_stringform)
    Sum=0
    for i in in_stringform:
        Sum+=int(i)
    Mean=(Sum/denominator)
    return int(Mean)
mean(512)

2